<!doctype html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>로그인</title>
<script type="text/javascript">
function checkFormValue() {
	var id = document.loginForm.id.value;
	var password = document.loginForm.password.value;
	var regexp = /^[A-Za-z0-9]*$/;
	if(id.trim().length < 1){
		alert("아이디 값이 공백으로만 설정되어 있습니다.");
		return false;
	}
	if(password.trim().length < 1){
		alert("비밀번호 값이 공백으로만 설정되어 있습니다.");
		return false;
	}
	if(!regexp.test(id) || !regexp.test(password)){
		alert("아이디와 비밀번호는 영문 대소문자와 숫자로만 입력 가능합니다.");
		return false;
	}
	return true;
}

function goJoinPage(){
	location.href = "/join";
}
</script>
<style type="text/css">
.input {
	height: 30px;
	font-size: 15px;
	width: 200px;
}

.login_btn {
	height: 100%;
	width: 70px;
	background-color: white;
	border-width: thin;
	font-weight: bold;
}

.join_btn {
	height: 40px;
	width: 200px;
	background-color: white;
	border-width: thin;
	border-radius: 4px;
	font-weight: bold;
	font-size: 16px;
}

.err_msg {
	color: red;
	font-size: 14px;
	text-align: center;
}
</style>
</head>
<body>
	<form name="loginForm" action="/login" method="POST" onsubmit="return checkFormValue();">
		<div style="display: flex;justify-content: center;">
			<div style="display: flex;align-items: center;flex-direction: column;">
				<h1>로그인</h1>
				<div style="display: flex;flex-direction: row;">
					<div style="display: flex;flex-direction: column;">
						<input type="text" name="id" class="input" placeholder="아이디" autocomplete="off" maxlength="30"/>
						<input type="password" name="password" class="input" placeholder="비밀번호" autocomplete="off" maxlength="30"/>
					</div>
					<div>
						<button type="submit" class="login_btn">로그인</button>
					</div>
				</div>
				<div th:if="${errorMessage != null}">
					<pre th:text="${errorMessage}" class="err_msg"></pre>
				</div>
				<div style="margin: 20px">
					<a th:href="${apiURL}"><img width="200px" th:src="@{/images/naver_login.PNG}"/></a>
				</div>
				<div>
					<button type="button" class="join_btn" onclick="javascript:goJoinPage();">회원가입</button>
				</div>
			</div>
		</div>
	</form>
</body>
</html>